@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    height: 100%;
  }
  body {
    @apply antialiased text-gray-900 bg-gray-100 dark:text-gray-100 dark:bg-gray-900;
  }

  .shadow-soft {
    @apply shadow-md;
  }

  .shadow-medium {
    @apply shadow-lg;
  }

  .shadow-strong {
    @apply shadow-2xl;
  }
}
